
.App {
  margin: 20px;
}

.page-container {
  display: grid;
  grid-template-columns: 65% 35%;
}

.groups {
  display: flex;
  flex-flow: row wrap;
  grid-column: 1;
}

.prediction {
  grid-column: 2;
}